.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  margin: 0;
}

.cardDeck {
  overflow-x: auto;
  min-width: 100%;
  min-height: 50vh;
  display: flex;
}

.cardDeck::-webkit-scrollbar {
  display: none;
}

.resumeCard {
  height: 50vh;
  width: 40vw;
  margin: 10px;
}

.resumeCardDiv {
  display: flex;
}

.resumeCard .card-header {
  font-size: 1.5rem
}

.resumeCard .card-body {
  padding: 0px;
  padding-top: 1.25rem;
  padding-left: 10px;
  text-align: left;
  overflow-y: auto;
}
